<title>{{ page.meta.title }}</title>
<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% if page.meta %}
	{{ "viewport" | meta_name: "width=device-width, initial-scale=1, user-scalable=no" }}
	{{ "og:type" | meta_prop: page.meta.type }}
	{{ "og:url" | meta_prop: page.meta.url }}
	{{ "og:image" | meta_prop: page.meta.image }}
	{{ "og:title" | meta_prop: page.meta.title }}
	{{ "og:description" | meta_prop: page.meta.description }}
{% endif %}
