{% assign imageSize = 'm' %}
<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            body {
                margin: 1em;
                padding: 3em;
			}
			@media only screen and (max-width: 480px){
				#templateColumns{
					width:100% !important;
				}

				.templateColumnContainer{
					display:block !important;
					width:100% !important;
				}

				.columnImage{
					height:auto !important;
					max-width:480px !important;
					width:100% !important;
				}

				.leftColumnContent{
					font-size:16px !important;
					line-height:125% !important;
				}

				.rightColumnContent{
					font-size:16px !important;
					line-height:125% !important;
				}
			}

			a.postToRedditButton {
				background-color: rgb(27, 94, 32);
				color: white;
				padding: 1em;
				border-radius: 3px;
    			text-decoration: none;
    			font-size: 1.1em;
			}

			.biketagIcon {
				text-align:center;
				max-width: 15em;
			}
        </style>
    </head>
    <body>		
		<table border="0" cellpadding="10" cellspacing="0" width="600">
			{% if subdomainIcon %}
			<tr>
				<td align="center" width="50%" valign="top" class="middleColumnContent">
					<img src="https://i.imgur.com/CtJVstG.png" class="biketagIcon">
				</td>
			</tr>
			{% endif %}
			<tr>
				<td align="center" width="50%" valign="bottom" class="middleColumnContent">
					<h4>Hello BikeTag Ambassador! A new BikeTag has been posted by <strong>{{ currentTagInfo.credit }}</strong> in {{ region }}!</h4>
					<p>You are getting this email because you are listed as an admin on the site (<a href="https://{{ host }}">{{ host }}</a>).</p>
				</td>
			</tr>
		</table>
		
		<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
			<tr>
				<td align="center" valign="top" width="50%" class="templateColumnContainer">
					<table border="0" cellpadding="10" cellspacing="0" width="100%">
						<tr>
							<td valign="top" class="leftColumnContent">
								<h1>Proof for #{{ currentTagInfo.previousMysteryTagNumber }}</h1>
								The Previous Mystery Tag
							</td>
						</tr>
						<tr>
							<td valign="bottom" class="leftColumnContent">
								<img src="{{ currentTagInfo.proofTag.link | biketag_image: imageSize }}" width="280" style="max-width:280px;" class="columnImage" />
							</td>
						</tr>
					</table>
				</td>
				<td align="center" valign="top" width="50%" class="templateColumnContainer">
					<table border="0" cellpadding="10" cellspacing="0" width="100%">
						<tr>
							<td valign="top" class="rightColumnContent">
								<h1>Mystery Tag #{{ currentTagInfo.previousMysteryTagNumber }}</h1>
								Previous Mystery Tag
							</td>
						</tr>
						<tr>
							<td valign="bottom" class="rightColumnContent">
								<img src="{{ currentTagInfo.previousMysteryTag.link | biketag_image: imageSize }}" width="280" style="max-width:280px;" class="columnImage" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		
		<table border="0" cellpadding="10" cellspacing="0" width="600">
			<tr>
				<td align="center" width="50%" valign="top" class="middleColumnContent">
					<h1>Tag #{{ currentTagInfo.currentTagNumber }}</h1>
					<span>New Mystery Tag</span>
					<p>Keep the game up to date by posting this tag to Reddit manually, go to <a href="https://{{ host }}/get/reddit?flushcache=true">{{ host }}/get/reddit</a> to get the reddit post template.
						The subreddit for this game is <a href="https://reddit.com/r/{{reddit}}">r/{{reddit}}</a>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center" width="50%" valign="bottom" class="middleColumnContent">
					<img src="{{ currentTagInfo.currentTagURL | biketag_image: imageSize }}" width="280" style="max-width:280px;" class="columnImage" />
					<p>
						Is the new tag ready to be posted? Click below to automatigically create the post on behalf of user {{ currentTagInfo.credit }}.
					</p>
					<a class="postToRedditButton" href="https://{{ host }}/api/post/reddit/?expiry={{ expiryHash }}">Post to r/{{reddit}}</a>
				</td>
			</tr>
			<tr>
				<td align="center" width="50%" valign="top" class="middleColumnContent">
					If you are not in the ambassador program or no longer want to receive these emails, reply to this email.
				</td>
			</tr>
		</table>
	</body>
</html>
