<!DOCTYPE html>
<html>

<head>
	{% include "page/meta" %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,  user-scalable=yes" />
	<meta name="referrer" content="no-referrer" />
	{{ "https://use.fontawesome.com/releases/v5.13.0/css/all.css" | stylesheet_tag : nonce }}
	{{ "/assets/index.b2c36498.js" | module : nonce }}
	{{ "/assets/vendor.4a4888af.js" | custom_link : nonce, "modulepreload" }}
	{{ "/assets/index.03814353.css" | stylesheet_tag : nonce }}
	{{ "/manifest.webmanifest" | custom_link : nonce, "manifest" }}
</head>

<body>
  <div id="app"></div>
</body>

</html>
