<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Login to {{ name }}</title>
        <!-- Google Fonts Roboto -->
        {{
            'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'
                | stylesheet_tag: nonce
        }}
        <!-- Bootstrap -->
        {{
            '/css/bootstrap.min.css' | stylesheet_tag
        }}
        <!-- Font Awesome -->
        {{
            'css/fa-all.min.css' | stylesheet_tag
        }}
    </head>

    <body>
        {% include "page/header" %}

        <!--Intro Section-->
        <section class="view">
			<div class="container overflow-hidden align-items-center">
				<div class="row align-items-center justify-content-center inner-content">
					<div class="col-xl-5 col-lg-6 col-md-10 col-sm-12">
						<!--Form with header-->
						<div class="card wow fadeIn" data-wow-delay="0.3s">
							<div class="card-body">{% include "login/login" %}</div>
						</div>
						<!--/Form with header-->
					</div>
				</div>
            </div>
        </section>

        <!-- Bootstrap -->
        {{ 'js/bootstrap.min.js' | javascript_tag : nonce }}
        {{ 'js/login.js' | javascript_tag : nonce }}
    </body>
</html>
