<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= page.gaUA %>"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', '<%= page.gaUA %>');
	</script>

	<title><%= SUBDOMAIN %> BIKETAG</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
	<meta property="og:type" content="<%= page.metaType %>" />
	<meta property="og:url" content="<%= page.metaUrl %>" />
	<meta property="og:title" content="<%= page.metaTitle %>" />
	<meta property="og:description" content="<%= page.metaDescription %>" />

	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/uglipop.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	<noscript>
		<link rel="stylesheet" href="css/noscript.css" /></noscript>
	<link rel="stylesheet" href="../assets/css/<%= thisSubdomain %>.css" />
</head>

<body class="is-preload <%= thisSubdomain %>">
	<div id="wrapper">

		<div id="countChanger">
			<nav>
				<ul>
					<li><a href="?count=10">10</a></li>
					<li><a href="?count=50">50</a></li>
					<li><a href="?count=all">all</a></li>
				</ul>
			</nav>
		</div>

		<!-- Header -->
		<header id="header">
			<div class="logo spin">
				<span class="icon fa-bicycle"></span>
			</div>
			<div class="headingText">
				<h1><%= thisSubdomain %></h1>
				<span>.</span>
				<h1>biketag</h1>
			</div>
			<nav id="head">
				<ul>
					<li><a id="archiveButton" href="javascript:();">Archive</a></li>
					<li><a id="tagItButton" href="#tagit">Play <span class="longer-text hidden">The Next </span><span class="connecting-text hidden">Round </span>(<span id="tagNumber"></span>)</a></li>
					<li><a href="#howto">How<span class="connecting-text hidden"> To</span></a></li>
				</ul>
			</nav>
			<div class="content">
				<div class="inner">

				</div>
			</div>
			<nav id="foot">
				<ul>
					<!-- <li><a id="tagItButton" href="#tagit">Tag it!</a></li>
					<li><a href="#howto">How To</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li> -->
					<li><a href="#about">About</a></li>
					<li><a id="hintButton" href="#hint">Hint<span id="tagNumber"></span></a></li>
					<!-- <li><a href="#discuss">Discussion for Tag <span id="tagNumber"></span></a></li> -->
					<li><a href="#donate">Donate</a></li>
					<!--<li><a href="#elements">Elements</a></li> -->
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Intro -->
			<article id="tagit">
			</article>

			<!-- Work -->
			<article id="howto">
				<h2 class="major">How To</h2>
				<!-- <span class="image main"><img src="images/pic02.jpg" alt="" /></span> -->
				
				<%- content.howto %>

				<p>
					<span id="easter" style="font-style: italic;">Get these instructions via audio</span>
					<audio id="biketag-jingle">
						<source src="<%= page.easter.jingle %>" type="audio/mpeg">
						Your browser does not support the audio element.
					</audio>
				</p>
			</article>

			<!-- Work -->
			<article id="hint">
				<h2 class="major">Need a hint?</h2>
				<p>
					user [<span id="userCredit"></span>]
					<span id="userLeftHintMessage"></span>
					<br>
					<br>
					<span id="hintText" class="family"></span>
				</p>
			</article>

			<!-- About -->
			<article id="about">
				<h2 class="major">Bike Tag Game</h2>
				<!-- <span class="image main"><img src="images/pic03.jpg" alt="" /></span> -->
				
				<%- content.about %>
				
				<p>
					<% supportedRegions.forEach((region) => { %>
					<a href="http://<%= region %>.biketag.org">BikeTag in <%= subdomains[region].region %></a><br>
					<% }) %>
				</p>

			</article>

			<!-- About -->
			<article id="donate">
				<h3 class="major">Donate to BikeTag.Org</h3>
				
				<%- content.devnotice %>

			</article>

			<!-- Contact -->
			<article id="contact">
				<h2 class="major">Contact</h2>
				<%- content.contact %>
			</article>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<%- content.footer %>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Priority Scripts -->
	<script>
		try {
			window.pageData = JSON.parse(`<%- JSON.stringify(page) %>`)
		} catch(e) {
			console.log('Could not load sexy page data', { error: e })
		}
	</script>
	<script src="js/biketag.js"></script>
	<script>
		var biketagUploadContainerSelector = '#tagit'
		window.biketag = window.biketag || { init: () => { console.log('window.biketag not initialized')}}
		window.biketag.config = {
			adminEmailAddresses: window.pageData.adminEmailAddresses,
		}
		<% if (!page.readonly) { %>
			window.biketag.init(biketagUploadContainerSelector)
		<% } else { %>
			var biketagUploadContainerEl = document.querySelector(biketagUploadContainerSelector)
			biketagUploadContainerEl.innerHTML = "<h3>Region not supported</h3><p>Currently, this version of biketag is being managed elsewhere. If you need to create a biketag post that is not affiliated with any region, go to <a href='Http://post.biketag.org'>here to post a global tag</a>.</p>"
		<% } %>
	</script>

	<script>
		(function (w, d) {
			var b = d.getElementsByTagName('body')[0];
			var s = d.createElement("script");
			s.async = true;
			var v = !("IntersectionObserver" in w) ? "8.7.1" : "10.5.2";
			s.src = "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/" + v + "/lazyload.min.js";
			w.lazyLoadOptions = {}; // Your options here. See "recipes" for more information about async.
			b.appendChild(s);

		}(window, document));
	</script>
	<script>
	</script>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/uglipop.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>
	<script src="js/imgur.js"></script>
	<script src="js/reddit.js"></script>
	<script src="js/smtp.js"></script>

	<% if (debug) { %>
		<%- content.localdev %>
	<% } %>

</body>

</html>
