<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

<head>
	{% include "page/meta" %}
	{% include "page/css" %}
	
	<!-- Bootstrap -->
	{{ "/css/bootstrap.min.css" | stylesheet_tag }}
</head>

<body class="is-preload {{ thisSubdomain }}">
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<div class="header--logo">
				<div class="logo spin bt-bicycle"></div>
				<div class="headingText">
					<h1>{{ thisSubdomain }}</h1>
					<span>.</span>
					<h1>biketag</h1>
				</div>
			</div>
			<nav id="head">
				<ul>
					<li><a id="archiveButton" href="javascript:();">Archive</a></li>
					<li><a id="tagItButton" href="#tagit">Play <span class="longer-text hidden">The Next </span><span class="connecting-text hidden">Round </span>(<span class="s--tagNumber">{{ currentBikeTag.currentTagNumber | plus: 1 }}</span>)</a></li>
					<li><a id="howToButton" href="#howto">How<span class="connecting-text hidden"> To</span></a></li>
				</ul>
			</nav>
			<div id="countChanger" class="row d-flex justify-content-center">
				<nav>
					<ul>
						<li><a href="?count=10">10</a></li>
						<li><a href="?count=50">50</a></li>
						<li><a href="?count=all">all</a></li>
					</ul>
				</nav>
			</div>
			<div class="content">
				<div class="inner container post">
				</div>
				<div class="inner container active single">
					{% if currentBikeTag %}

					<div class="m-imgur-post">
						<a rel="{{ currentBikeTag.currentTagURL }}" target="_blank">
							<div>
								<span><div class="normal-text">#</div>{{ currentBikeTag.currentTagNumber }}</span>
								<span> {{ currentBikeTag.credit }} </span>
								<img alt="{{ currentBikeTag.description }}" class="lazy" src="{{ currentBikeTag.currentTagURLThumb }}" data-src="{{ currentBikeTag.currentTagURL }}">
							</div>
							<h2 class="description">Current mystery location to find</h2>
						</a>
					</div>

					{% endif %}
					
				</div>
				<div class="inner container archive">
				</div>
			</div>
			<nav id="foot">
				<ul>
					<li class="discussion"><a><i class="fa fa-reddit"></i></a></li>
					<li><a href="#about">About</a></li>
					<li><a id="hintButton" href="#hint">Hint</a></li>
					<!-- <li><a href="#discuss">Discussion for Tag <span class="s--tagNumber"></span></a></li> -->
					<li><a href="#support">Support</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main">
			<article id="tagit">
			</article>

			<article id="howto">
				<h2 class="major">How To Play BikeTag</h2>

				{{ content.howto }}

				{% include "biketag/easter" %}
			</article>

			<article id="hint">
				<h2 class="major">Need a hint?</h2>
				<p>
					user [<span id="userCredit" class="special">{{ currentBikeTag.credit }}</span>]
					<span id="userLeftHintMessage"></span>
					<br>
					<br>
					<span id="hintText" class="family">{{ currentBikeTag.hint }}</span>
				</p>
			</article>

			<!-- About -->
			<article id="about">
				<h2 class="major">Bike Tag Game</h2>
				{% assign logo = page.images.logo %}
				{% if logo contains "." %}
				{% else %}
					{% assign logo = page.images.logo | append: '.png' %}
				{% endif %}
				<p class="center">{{ "img/" | append: logo | replace: '.png', '-small.png' | asset_url | img_tag }}</p>
				{{ content.about }}

				<p>
					{% for region in supportedRegions %}
					<a href="https://{{ region }}.{{host}}">BikeTag in {{ subdomains[region].region }}</a><br>
					{% endfor %}
				</p>

			</article>

			<article id="support">
				<h2 class="major">Support the BikeTag.Org project</h2>

				{{ content.donate }}

			</article>

			<article id="contact">
				<h2 class="major">Contact</h2>
				{{ content.contact }}
			</article>
		</div>

		{% include "biketag/back-to-home" %}

		{% include "page/footer" %}

	</div>

	<div id="bg"></div>

	<!-- Priority Scripts -->
	{% include "biketag/lazy" %}
	
	<script nonce="{{ nonce }}">
		try {
			window.pageData = JSON.parse(`{{ page | json }}`)
		} catch(e) {
			console.log('Could not load sexy page data', { error: e })
		}
	</script>

	{{ "js/biketag.js" | javascript_tag }}
	<script nonce="{{ nonce }}">
		window.lazyLoadInstance = new LazyLoad()

		var biketagUploadContainerSelector = '#tagit'
		window.biketag = window.biketag || { init: () => { console.log('window.biketag not initialized')}}
		window.biketag.config = {
			newGameImage: window.pageData.newGameImage,
		}
		window.biketag.init(biketagUploadContainerSelector, window.pageData.readonly)
	</script>

	<!-- Scripts -->
	{{ "js/jquery.min.js" | javascript_tag }}
	<!-- Bootstrap -->
	{{ "js/bootstrap.min.js" | javascript_tag }}
	{{ "js/browser.min.js" | javascript_tag }}
	{{ "js/breakpoints.min.js" | javascript_tag }}
	{{ "js/util.js" | javascript_tag }}
	{{ "js/main.js" | javascript_tag }}
	{{ "js/imgur.js" | javascript_tag }}

	<script type="text/javascript" nonce="{{nonce}}">
		(() => {
			const howToButtonElement = document.getElementById('howToButton')
		})()
	</script>
</body>

</html>
