<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "page/meta" %}
		{% include "page/css" %}
		
		<!-- Bootstrap -->
		{{ "/css/bootstrap.min.css" | stylesheet_tag : nonce }}
		{{ "/css/fa-all.min.css" | stylesheet_tag : nonce }}
		{{ images | json | console_log: nonce }}
	</head>

	<body>
		<h1>Pick a user from the list below!</h1>

		<section>
			<ul class="list-group">
			{% for username in usernames %}
				<li class="list-group-item">
					<a href="/user/?username={{ username }}">{{ username }}</a>
				</li>
			{% endfor %}
			</ul>
		</section>

		{{ "/js/jquery.min.js" | javascript_tag : nonce }}
		<!-- Bootstrap -->
		{{ "/js/bootstrap.min.js" | javascript_tag : nonce }}
	</body>
</html>
