<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "page/meta" %}
		{% include "page/css" %}
		
		<!-- Bootstrap -->
		{{ "/css/bootstrap.min.css" | stylesheet_tag }}
		{{ "/css/fa-all.min.css" | stylesheet_tag }}
		{{ images | json | console_log: nonce }}
	</head>

	<body>
		<h1>BikeTag Leaderboard ({{ page.region }}) Total: [{{ imagesTotal | minus: 1}} + first]</h1>

		<section>
			<ul class="list-group">
			{% for username in usernames %}
				{% assign numTagsDivide2 = images[username].length | divided_by: 2 %}
				{% assign numTagsMod2 = images[username].length | modulus: 2 %}
				{% assign numTags = numTagsDivide2 | minus: numTagsMod2 | abs %}
				<li class="list-group-item">
					<a href="/user/?username={{ username }}">{{ username }} ({{ numTags }})</a>
				</li>
			{% endfor %}
			</ul>
		</section>

		{{ "/js/jquery.min.js" | javascript_tag }}
		<!-- Bootstrap -->
		{{ "/js/bootstrap.min.js" | javascript_tag }}
	</body>
</html>
